<div class="cards-container" *ngIf="!appService.showLoader">
  <div class="left-side-Container"> 
    <div class="card card-image">
    <div class="image-container">
        <img [src]="userService.patientDetails?.imageUrl" alt="Avatar" >
        <div class="user-data">
            <div class="user-name">{{userService.patientDetails?.fullName}}</div>
            <div class="static-details">Patient Code: <span class="details">{{userService.patientDetails?.patienCode}}</span> </div>
            <div class="details">{{userService.patientDetails?.age}} <span class="static-details">years old, </span>{{userService.patientDetails.gender}}</div>
            <div class="details"><span class="static-details">lives in </span >{{userService.patientDetails?.areaName}}, {{userService.patientDetails.city}}</div>
              <button (click)="editUserProfile()" type="button" class="btn btn-lg btn-edit" >edit your details</button>
        </div>
    
      
    </div>  
    
    </div>
    <div >
    <div class="card-pressure-content" >
        <div  class="immunization img-fluid appear-animation animated fadeIn appear-animation-visible" >
            <div >
              <section class="card">
                <header class="pressure-title" >
        
                   <div class="timeline-header">
                    <a class="nav-link" (click)="openModal(body)"  style="color: #5a5a5a;cursor: pointer;"  ><i  aria-hidden="true" class="fa fa-plus"></i> <span class="addText">Add</span></a>
        
                     <div>Weight & Height</div>
                    <a class="nav-link" [ngClass]="{'dimmed':!userService.patientBody}"  style="color: #5a5a5a;cursor: pointer;"   (click)="details('body')"><i  aria-hidden="true" class="fa fa-bars"></i><span class="addText"> Details</span></a>
                   </div>
        
        
                </header>
                <div class="card-body" style="
                padding: 0;
                height: 400px;
            ">
                    <div class="age-weight-section">
                        <div class="weight-age">
                        <div class="age"> 
                            <div class="age-static">
                                Age
                              </div>
                            <div class="age-data">{{userService.patientDetails?.age}}</div>
                        </div>
                        <div class="weight"> 
                            <div class="age-static">
                                Weight
                              </div>
                            <div class="age-data">{{userService.patientBody?.weight}} <span class="weight-static">kg</span></div>
                        </div>
                      </div>
                      <!-- <div>
                          <div class="static-details count" *ngIf="userService.bloodPressureCount"><i class="fa fa-plus"></i> <span class="details"> {{userService.bloodPressureCount}}</span> </div>
                          <div class="pressure">
                    
                              <div class="pressure-data">
                                  <div class="static-details">
                                    Blood Pressure:
                                  </div>
                                  <div style="font-size: 14px;"> 
                                     <b> {{userService.patientCalculatedPressure?.systolicAVG}}/{{userService.patientCalculatedPressure.diastolicAVG}} mmHg</b>
                                    </div>
                              </div>
                              <div class="pressure-progress">
                                  <div  class="vl-container">
                                  <div class="avg-pressure">National AVG</div>
                        
                                      <div class="vl"></div>
                        
                                      <div class="progress">
                                          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{'width': userService.patientCalculatedPressure?.systolic}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            
                                        </div>
                                    <div class="static-details-pressure">(Systolic)</div>
                        
                                  </div>
                                
                              </div>
                              <div class="pressure-progress">
                                 <div class="vl-container">
                                  <div class="avg-pressure">National AVG</div>
                        
                                    <div class="vl"></div>
                        
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{'width': userService.patientCalculatedPressure?.diastolic}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                 <div class="static-details-pressure">(Diastolic)</div>
                        
                                 </div>
                              </div>
                            </div>
                      </div> -->
                      <div >
                          <div class="static-details count"  *ngIf="userService.humanBodiesCount"><i class="fa fa-plus"> </i> <span class="details"> {{userService.humanBodiesCount}}</span> </div>
                          <div class="age-weight-image">
                        
                              <img src="../../assets/images/body.jpg" class="body-image" >
                              <div class="height-value-container" *ngIf="userService.patientBody?.height" >
                                  <div class="hr-top"></div>
                          
                                  <div class="vl-height-top"></div>
                                  <div class="height-text-container" >
                                      <div class="height-text">Height:</div>
                                      <div class="height-value">{{userService.patientBody?.height}} <span class="height-type">cm</span></div>
                                  </div>
                               
                                  <div class="vl-height-bottom"></div>
                                  <div class="hr-bottom"></div>
                              </div>
                             
                          </div>  
                      </div>
                        
                    </div>
                </div>
              </section>
            </div>
        
            <ng-template #body>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Weight & Height</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addBody" novalidate (ngSubmit)="submitBody()">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Height</label>
                          <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="height" type="number" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Height">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Weight</label>
                            <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="weight" type="number" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Weight">
                          </div>
                          <div class="form-group">
                            <label for="formGroupExampleInput">Date</label>
            <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="date" [(ngModel)]="date" required />

                          </div>
                    
                        <button [disabled]="!addBody.valid" type="submit" class="btn btn-edit">Submit</button>
                      </form>
                </div>
              </ng-template>
        
        
          </div>

                <!-- <div >
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  
                </div>  -->

                <div  class="immunization img-fluid appear-animation animated fadeIn appear-animation-visible">
                    <div >
                      <section class="card">
                        <header class="pressure-title" >
                
                           <div class="timeline-header">
                            <a class="nav-link" style="color: #5a5a5a;cursor: pointer;"  (click)="openModal(immunization)"><i  aria-hidden="true" class="fa fa-plus"></i> <span class="addText">Add</span></a>
                
                             <div>Immunization</div>
                            <a class="nav-link"  style="color: #5a5a5a;cursor: pointer;" [ngClass]="{'dimmed':!userService.patientImmunization.length}"   (click)="details('immunization')" ><i  aria-hidden="true"class="fa fa-bars"></i><span class="addText"> Details</span></a>
                           </div>
                
                
                        </header>
                        <div class="card-body" style="padding-bottom: 17px;padding-top: 0px;">
                            <div class="static-details count immunization-count"  *ngIf="userService.humanBodiesCount"><i class="fa fa-plus"> </i> <span class="details"> {{userService.immunizationsCount}}</span> </div>

                          <div class="scrollable" data-plugin-scrollable="" style="height: 350px;">
                            <div class="scrollable-content" tabindex="0">
                              <div class="timeline timeline-simple mt-3 mb-3">
                                <div class="tm-body">
                                
                                  <ol class="tm-items">
                                    <li *ngFor="let immunization of userService.patientImmunization">
                                      <div class="tm-box appear-animation animated fadeInRight appear-animation-visible ">
                                          <p class="static-details">Administrated By: <span class="details">{{immunization?.administratedBy}}</span> </p>
                                          <p class="static-details">Vaccine: <span class="details">{{immunization?.vaccineName}}</span> </p>
                                          <p class="static-details">Date: <span class="details">{{immunization?.date}}</span> </p>
                                          <p class="static-details">Next Date: <span class="details">{{immunization?.nextDate}}</span> </p>
                
                                      </div>
                                    </li>
                                  
                                  </ol>
                                </div>
                              </div>
                            </div>
                          <div class="scrollable-pane" style="opacity: 1; visibility: hidden;"><div class="scrollable-slider" style="height: 59px; transform: translate(0px, 238.999px);"></div></div></div>
                        </div>
                      </section>
                    </div>
                
                  <ng-template #immunization> 
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">IMMUNIZATION</h4>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="addImmunization" novalidate (ngSubmit)="submitImmunization()">
                              <div class="form-group">
                                <label for="adminstrated">Administrated By:</label>
                                <select class="form-control" id="adminstrated" formControlName="adminstrated">
                                  <option *ngFor="let data of adminstrated" [value]="data.id">{{data.value}}</option>
                                </select>
                              </div>
                                <div class="form-group">
                                    <label for="contry">Vaccines:</label>
                                    <select class="form-control" id="contry" formControlName="vaccines">
                                      <option *ngFor="let vaccine of userService.vaccines" [value]="vaccine.vaccineId">{{vaccine.name}}</option>
                                    </select>
                                  </div>
                                  
                                    <div class="row" style="justify-content: space-between;padding: 20px;">
                                      <div class="form-group">
                                        <label for="contry">Date</label>
                                        <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="date" [(ngModel)]="date" required />
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="contry">Next Date</label>
                                          <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="dateNext" [(ngModel)]="dateNext" required />
                                        </div>
                                    </div>
                                <button type="submit" [disabled]="!addImmunization.valid" class="btn btn-edit">Submit</button>
                              </form>
                        </div>
                      </ng-template> 
                
                
                  </div>

        </div>
       
          </div>
      
<div class="chart">
    <header class="pressure-title" >

        <div class="timeline-header">
         <a class="nav-link" (click)="openModal(pressure)" style="color: #5a5a5a;"  ><i  aria-hidden="true" class="fa fa-plus"></i><span class="addText">  Add</span></a>

          <div>Blood Pressure</div>
         <a class="nav-link" (click)="details('pressure')" style="color: #5a5a5a;"  ><i  aria-hidden="true" class="fa fa-bars"></i><span class="addText">  More Details</span></a>
        </div>


     </header>
    <div><div class="card-header">
      
      <div class="row pressure-date">
        <div class="col-lg-4 btn-pressure-container">
          <button class="btn-pressure" style="border-radius: 6px 0px 0px 6px;">7 days</button><button style="border-radius: 0px 6px 6px 0px;" class="btn-pressure">14 days</button>
        </div>
        <div class="form-group pressure-top" >
          <div class="input-container">
              <label class="label-pressure" for="contry">from</label>
            <input class="input-pressure" type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"  [(ngModel)]="from" required />

          </div>
          <div class="input-container">
              <label class="label-pressure" for="contry">to</label>
              <input class="input-pressure" type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"  [(ngModel)]="to" required />
  
          </div>
          
            <button class="btn-pressure go">Go!</button>
          </div>
      </div>
      
    
    </div></div>

    <div class="chart-container">
     <div class="AVG-pressure">
       <div class="left-side-pressure">     <div class="title-AVG" >
          Blood Pressure: {{userService.patientCalculatedPressure?.systolicAVG}}/{{userService.patientCalculatedPressure.diastolicAVG}} mmHg
        </div>
        <div style="font-size: 13px;" class="static-details">AVG blood pressure last 7 days</div>
        <div style="font-size: 13px;">Previous 7 days = {{userService.patientCalculatedPressure?.systolicAVG}}/{{userService.patientCalculatedPressure.diastolicAVG}} mmHg</div>
       </div>
         <div class="pressure" style="padding-top:0px">
             <div class="pressure-data">
                 <div class="static-details">
                   Blood Pressure:
                 </div>
                 <div style="font-size: 14px;"> 
                    <b> {{userService.patientCalculatedPressure?.systolicAVG}}/{{userService.patientCalculatedPressure.diastolicAVG}} mmHg</b>
                   </div>
             </div>
             <div class="pressure-progress">
                 <div  class="vl-container">
                 <div class="avg-pressure">National AVG</div>
       
                     <div class="vl"></div>
       
                     <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{'width': userService.patientCalculatedPressure?.systolic}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
           
                       </div>
                   <div class="static-details-pressure">(Systolic)</div>
       
                 </div>
               
             </div>
             <div class="pressure-progress">
                <div class="vl-container">
                 <div class="avg-pressure">National AVG</div>
       
                   <div class="vl"></div>
       
                 <div class="progress">
                     <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" [ngStyle]="{'width': userService.patientCalculatedPressure?.diastolic}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                   </div>
                <div class="static-details-pressure">(Diastolic)</div>
       
                </div>
             </div>
           </div>
     </div>
       <div style="display: block;">
         <canvas baseChart #baseChart="base-chart" width="400" height="200"
                     [datasets]="lineChartData"
                     [labels]="lineChartLabels"
                     [options]="lineChartOptions"
                     [colors]="lineChartColors"
                     [legend]="lineChartLegend"
                     [chartType]="lineChartType"
                     (chartHover)="chartHovered($event)"
                     (chartClick)="chartClicked($event)"></canvas>
         </div>
      </div>
</div>
<ng-template #pressure>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Blood Pressure</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="addPressure" novalidate (ngSubmit)="submitPressure()">
          <div class="form-group">
            <label for="formGroupExampleInput">Systolic</label>
            <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="systolic" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Systolic">
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Diastolic</label>
              <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="diastolic" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Diastolic">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Date</label>
            <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="date" [(ngModel)]="date" required />
            </div>
      
          <button [disabled]="!addPressure.valid" type="submit" class="btn btn-edit">Submit</button>
        </form>
  </div>
</ng-template>
  </div>
  <div class="right-side-Container"> 
    <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible" >
      <div >
      <div class="card-header">ALLERGIES <span class="badge count-box" *ngIf="userService.allergiesCount"><i class="fa fa-plus"> </i> {{userService.allergiesCount}}</span></div>
      <div class="card-details"> 
          <ul *ngIf="userService.patientAllergies.length">
              <li *ngFor="let allergy of userService.patientAllergies"> {{allergy?.name}}</li>
              
            </ul>
            <hr *ngIf="userService.patientAllergies.length">
            <button type="button" class="btn-modal" (click)="openModal(template)">Add</button>
            <button type="button" class="btn-modal btn-details" [disabled]="!userService.patientAllergies.length" (click)="details('allergy')" >Details</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ALLERGIES</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="addAllergyForm" novalidate (ngSubmit)="submitAllergy()">
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input (keyup)="allergiesNameChange()" [ngClass]="{'error':showErrorMsg}" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            
          </div>
      
          <button [disabled]="!addAllergyForm.valid" type="submit" class="btn btn-edit">Submit</button>
        </form>
  </div>
</ng-template>
      </div>
   
      </div>
    </div>
    <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible" >
        <div >
        <div class="card-header">CONDITIONS <span class="badge count-box" *ngIf="userService.conditionsCount"><i class="fa fa-plus"> </i> {{userService.conditionsCount}}</span></div>
        <div class="card-details"> 
            <ul *ngIf="userService.patientConditions.length">
                <li *ngFor="let condition of userService.patientConditions"> {{condition?.name}}</li>
                
              </ul>
              <hr *ngIf="userService.patientConditions.length">
              <button type="button" class="btn-modal" (click)="openModal(condition)">Add</button>
              <button type="button"  class="btn-modal btn-details" [disabled]="!userService.patientConditions.length" (click)="details('condition')" >Details</button>
              <ng-template #condition>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">CONDITIONS</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form [formGroup]="addConditionForm" novalidate (ngSubmit)="submitCondition()">
                          <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="conditionNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                          </div>
                      
                          <button [disabled]="!addConditionForm.valid" type="submit" class="btn btn-edit">Submit</button>
                        </form>
                  </div>
                </ng-template>
        </div>
     
        </div>
      </div>
      <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible"  >
          <div >
          <div class="card-header">MEDICATION <span class="badge count-box" *ngIf="userService.medicationCount"><i class="fa fa-plus"> </i> {{userService.medicationCount}}</span></div>
          <div class="card-details"> 
              <ul *ngIf="userService.patientMedication.length">
                  <li *ngFor="let medication of userService.patientMedication"> {{medication?.name}}</li>
                  
                </ul>
                <hr *ngIf="userService.patientMedication.length">
                <button type="button" class="btn-modal" (click)="openModal(medication)">Add</button>
                <button type="button" class="btn-modal btn-details" [disabled]="!userService.patientMedication.length" (click)="details('medication')">Details</button>
                <ng-template #medication>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">MEDICATION</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addMedicationForm" novalidate (ngSubmit)="submitMedication()">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Name</label>
                              <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                            </div>
                        
                            <button [disabled]="!addMedicationForm.valid" type="submit" class="btn btn-edit">Submit</button>
                          </form>
                    </div>
                  </ng-template>
          </div>
       
          </div>
        </div>
        <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible">
            <div >
            <div class="card-header">MEDICAL DEVICES <span class="badge count-box" *ngIf="userService.medicalDeviceCount"><i class="fa fa-plus"> </i> {{userService.medicalDeviceCount}}</span></div>
            <div class="card-details"> 
                <ul *ngIf="userService.patientMedicalDevice.length">
                    <li *ngFor="let medicalDevice of userService.patientMedicalDevice"> {{medicalDevice?.name}}</li>
                    
                  </ul>
                  <hr  *ngIf="userService.patientMedicalDevice.length">
                  <button type="button" class="btn-modal" (click)="openModal(medicalDevice)">Add</button>
                  <button type="button" class="btn-modal btn-details" [disabled]="!userService.patientMedicalDevice.length" (click)="details('device')" >Details</button>
                  <ng-template #medicalDevice>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">MEDICAL DEVICES</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form [formGroup]="addMedicalDeviceForm" novalidate (ngSubmit)="submitMedicalDevice()">
                              <div class="form-group">
                                <label for="formGroupExampleInput">Name</label>
                                <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicalNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                              </div>
                          
                              <button [disabled]="!addMedicalDeviceForm.valid" type="submit" class="btn btn-edit">Submit</button>
                            </form>
                      </div>
                    </ng-template>
            </div>
         
            </div>
          </div>
          <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible" >
            <div >
            <div class="card-header">RESOURCES
                <!-- <span class="badge count-box" ><i class="fa fa-plus"> </i> {{userService.medicalDeviceCount}}</span> -->
            </div>
            <div class="card-details"> 
                <!-- <div *ngIf="currentUpload">
                    <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
                    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                </div> -->
                <div class="box" >
                
                    <div class="file-upload">File Uploads</div>
                
                    <div class="dropzone"
                         fileDrop
                         (filesDropped)="handleDrop($event)"
                         (filesHovered)="dropzoneState($event)"
                         >
                        
                         <div>  Drag and drop files to upload them to your record or <a style="position:relative" class="email">browes for files<input class="link" type='file' /></a> <div class="folder" [ngClass]="{'active': dropzoneActive}"><i class="fa fa-folder-open"></i></div></div>
                
                    </div>
                </div>
                <!-- <ul>
                    <li *ngFor="let medicalDevice of userService.patientMedicalDevice"> {{medicalDevice?.name}}</li>
                    
                  </ul>
                  <hr>
                  <button type="button" class="btn-modal" (click)="openModal(medicalDevice)">Add</button>
                  <button type="button" class="btn-modal btn-details"(click)="details('device')" >Details</button> -->
                  <ng-template #medicalDevice>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">MEDICAL DEVICES</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form [formGroup]="addMedicalDeviceForm" novalidate (ngSubmit)="submitMedicalDevice()">
                              <div class="form-group">
                                <label for="formGroupExampleInput">Name</label>
                                <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicalNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                              </div>
                          
                              <button type="submit" class="btn btn-edit">Submit</button>
                            </form>
                      </div>
                    </ng-template>
            </div>
         
            </div>
          </div>
          <div class="card img-fluid appear-animation animated fadeIn appear-animation-visible" >
              <div class="card-header">CONTACT INFO <span class="badge count-box" *ngIf="userService.contactsCount"><i class="fa fa-plus"> </i> {{userService.contactsCount}}</span></div>
      <div class="contact-info" *ngFor="let contact of userService.patientContacts; let i = index" > 
<div class="full-name">
    <div *ngIf="contact?.fullName">{{contact?.fullName}}</div>
<div (click)="editContact(contact)" *ngIf="selectedContact===contact.id" class="static-details">Edit</div>
</div>
            <div  *ngIf="contact?.typeOfRelation" class="periority">{{contact?.typeOfRelation}}</div>
            <div  *ngIf="contact?.phoneNumber01" class="tele-text"><span class="tele">T:</span> {{contact?.phoneNumber01}}</div>
            <div  *ngIf="contact?.phoneNumber02" class="tele-text"><span class="tele">T:</span> {{contact?.phoneNumber02}}</div>
            <div  *ngIf="contact?.email" class="email"><span class="tele">E:</span> {{contact?.email}}</div>
            <hr *ngIf="i < userService.patientContacts.length-1">
          </div>
          <hr *ngIf="userService.patientContacts.length">
          <div style="display: flex;">
            <button type="button" class="btn-modal" (click)="openModal(contact)">Add</button>
            <button type="button" class="btn-modal btn-details" [disabled]="!userService.patientContacts.length" (click)="details('contact')">Details</button>
          </div>
 

          <ng-template #contact>
              <div class="modal-header">
                <h4 class="modal-title pull-left">CONTACT INFO</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="contactForm" novalidate (ngSubmit)="editContact()">
                      <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input [ngClass]="{'error':!name.valid&&contactError}" #name [(ngModel)]="editContant.fullName"  formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                          <label for="relation">Relation</label>
                          <input [ngClass]="{'error':!relation.valid&&contactError}" #relation [(ngModel)]="editContant.typeOfRelation" formControlName="relation" type="text" class="form-control" id="relation" placeholder="Enter Relation">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input [ngClass]="{'error':!phone.valid&&contactError}" #phone [(ngModel)]="editContant.phoneNumber01" formControlName="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
                          </div>
                          <div class="form-group">
                              <label for="phone2">Additional Phone Number</label>
                              <input #phone2   formControlName="phone2" type="text" class="form-control" [(ngModel)]="editContant.phoneNumber02" id="phone2" placeholder="Enter Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input [ngClass]="{'error':!email.valid&&contactError}" #email [(ngModel)]="editContant.email" formControlName="email" type="text" class="form-control" id="email" placeholder="Enter Email">
                              </div>
                  
                      <button type="submit" [disabled]="!contactForm.valid"  class="btn btn-edit">Submit</button>
                    </form>
              </div>
            </ng-template>
        </div>
  </div>
 
</div>
