<div class="cards-cintainer">
  <div class="left-side-Container"> 
    <div class="card card-image">
    <div class="image-container">
        <img src="../../assets/images/person.jpg" alt="Avatar" >
        <div class="user-data">
            <div class="user-name">Arnold Fraser</div>
            <div class="details">62 <span class="static-details">years old, </span>Male</div>
            <div class="details"><span class="static-details">lives in </span >Egypt</div>
            <div class="static-details">GP Practice:</div>
        </div>
    
      
    </div>  
    
    </div>
  </div>
  <div class="right-side-Container"> 
    <div class="card">
      <div >
      <div class="card-header">ALLERGIES</div>
      <div class="card-details"> 
          <ul>
              <li>first</li>
              <li>first</li>
              <li>first</li>
              <li>first</li>
            </ul>
      </div>
   
      </div>
    </div>
  </div>
 
</div>