
.cards-container{
    display: flex;
    justify-content: space-between;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-bottom: 20px;
    background-color: #ffffff;

}

.card-pressure{
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-bottom: 20px;
    border-radius: .25rem;
    background-color: #ffffff;
    border: 1px #ccc solid;

}
.card-pressure-content{
    display: flex;
    justify-content: space-between;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.left-side-Container{
    flex: .8 1 70%;
    margin-right: 3%;
}
.card-image{
    background: linear-gradient(to bottom, #ffffff 0%, #66ccff59 200%);
    margin-bottom: 20px;
}
.image-container img{
    width: 130px;
    border: 1px #ccc solid;
    background-color: #ffffff;
    border-radius: 4px;
    height: 128px;
    padding: 3px

}
.image-container{
    padding-bottom: 20px;
    padding-top: 18px;
    padding-left: 18px;
    display: flex;
}
.user-data{
    margin-left: 15px;
    margin-top: -2px;
}
.user-name{
    font-size: 22px;
    font-weight: bold;
    color: rgb(18, 185, 177);
    margin-top: -6px;

}
.static-details{
    color: #9e9d9d;
    font-size: 15px;
    font-weight: normal;
}
.details{
    color:#333;
    font-weight: 600;
    font-size: 14px;

}
.right-side-Container{
    flex: .8 1 20%;
}
.card-header{
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    padding-bottom: 5px;
    color: dimgray;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
    background: linear-gradient(to bottom, #8be8f703 0%, #66ccff42 200%);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    margin-left: 7px;
    font-size: 14px;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom: 8px;
}

li::before {
  content: "• ";
  color: #1e9fb3; 
}
.card-details{
    border-bottom:1px #ccc solid;
}
.progress{
    height: 30px;
    background-color: #dee1e4;
    border-radius: 1.25rem;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1) inset;
}
.progress-bar{
    margin: 5px;
    background-color: #33bdb8!important;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px #1bb3ad;
}
.age{
    flex: 1 1 50%;
    border-right: 1px #ccc solid;
    padding: 15px;
}

.weight{
    flex: 0.9 1 50%;
    padding: 15px;
}
.age-weight-section{

    flex: 1 1 65%;
}
.age-weight-image{
    display: flex;
    flex: 1 1 35%;
    padding: 15px;
    margin-left: 20px;
    align-items: center;
}
.weight-age{
    display: flex;
    width: 100%;
    border-bottom: 1px #ccc solid;
}
.pressure{
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    padding-top: 30px;

}
.pressure-progress{
    width: 100%;
    margin-left: 15px;
    flex: 1 1 30%;
}

    .btn-edit{
        margin-top: 9px;
        height: 40px;
        box-shadow: 0 1px 6px 0px #1991b7;
        font-size: 15px;
        color: #fff;
        background-color: #1991b7;
        border-color: #1991b7;
    }
    .btn-modal{
        border: none;
        border-right: 1px solid #ccc;
        width: 50%;
        border-radius: 0px;
        cursor: pointer;
        padding-top: 7px;
        padding-bottom: 7px;
        box-shadow: none;
        color:#948f8f;
        background-color: #fff;
    }
    hr{
        margin-bottom: 0px;
    }
    .btn-details{
        border-right: none
    }
    .body-image{
        height: 235px;
    }
    .static-details-pressure{
        margin-left: 43%;
        color: #ccc;
        font-size: 15px;
        margin-top: 6px;
        font-weight: normal;
    }
    .avg-pressure{
        color: #9e9d9d;
        font-size: 15px;
        margin-top: 6px;
        font-weight: normal;
        margin-bottom: 6px;
        margin-left: 40%;
    }
    .pressure-data{
        margin-top: -6px;
    }
    .age-static{
        color: #9e9d9d;
        font-size: 14px;
    }
    .age-data{
        font-weight: bold;
        font-size: 30px;
      
    }
    .weight-static{
        ight: 600;
        font-size: 20px;
    }
    .pressure:last-child{
        border: none;
        margin-bottom: 15px;
    }
    .vl {
        border-left: 2px solid #ccc;
        height: 30px;
        position: absolute;
        left: 50%;
    }
  .vl-container{
position: relative;
  }
    .vl-height-top{
        border-left: 1px solid #ccc;
        height: 70px;
        position: relative;
        left: 123%;
    }
    .vl-height-bottom{
        border-left: 1px solid #ccc;
        height: 80px;
        position: relative;
        left: 125%;
    }
    .height-text{
        font-size: 12px;
    color: #9e9d9d;
    }
    .height-text-container{
        left: 77%;
    position: relative;
        text-align: center;
    }

    .height-value{
        font-size: 30px;
        font-weight: 600;
    }
    .height-type{
        font-size: 22px;
        font-weight: 600;
    }
    .hr-bottom{
        border-bottom: 1px solid #ccc;
        width: 23px;
        position: relative;
        left: 114.1%;
    }
    .hr-top{
        border-top: 1px solid #ccc;
        width: 23px;
        position: relative;
        left: 114.1%;
        top: 0px;

    }
    .error{
        border-color: red;
    }
    .height-value-container{
        position: absolute;
        left: 48%;
    }

            .contact-info{
                margin: 8px 16px;
    font-size: 14px;
    margin-left: 16px;

            }
            .periority{
                color:#9e9d9d
            }
            .tele{
                font-weight: 600;
                color: #333;
            }
            .tele-text{
                color: #6f6f6f;
            }
            .email{
                color:#22a4de !important;
            }
            .contact-info div{
                margin-bottom: 3px;

            }
            .chart-container{
            
              
                padding: 15px;
            
            }
            .chart{

                background-color: #fff;
                box-shadow: 0 0px 3px 0 rgba(0,0,0,0.1);
                transition: 0.3s;
                margin-bottom: 20px;
                border: 1px #ccc solid;
                border-radius: .25rem;
            }
            .AVG-pressure{
                display: flex;
            }
            .left-side-pressure{
                flex: 5 1 100%;
                margin-top: 16px;
                margin-left: 14px;
            } 
            .pressure-title{
                text-align: center;
                padding: 5px 10px;
                border-bottom: 1px #ccc solid;
                color:#5a5a5a;
                font-weight: bold;
            }  
            .title-AVG{
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 6px;
            } 
            .immunization{
                width: 49%;
            }
            @media only screen and (max-width : 830px) {
                .AVG-pressure{
                    display: block;
                }
                .immunization{
                    width: 100%;
                }
            
            .pressure-progress{
                margin-left: 0px;
            }
                }
            @media only screen and (max-width : 1304px) {
                .immunization{
                    width: 100%;
                }
                .cards-container{
                    display: block;
                }
                .card-pressure-content{
                    display: block;
                }
            
                .pressure:last-child{
                    display:block;
                }
                .pressure-progress{
                    margin-left: 0px;
                }
                .AVG-pressure{
                    display: block;
                }
                    }
                    .btn-contact{
                        width: 100%;
                        border-top:1px #ccc solid; 
                        border-right:none; 
                    }
                   .full-name{
                    display: flex;
                    justify-content: space-between;
                   }
                   .scrollable{
                    box-shadow: 0px -3px 7px 3px rgba(146, 146, 146, 0.08) inset !important;
                   }
                   .timeline-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                   }
                   @media only screen and (max-width : 558px) {
                       .height-value-container{
                        left: 28%;

                       }
.addText{
    display: none;
}
                   }
                   .count{
                    margin-top: 16px;
                    float: right;
                    margin-right: 10px;
                    color: #5a5a5a;
                    font-size: 16px;
                    clear: both;
                   }
                   .count-box{
                    font-size: 12px;
                    
                    float: right;
                    clear: both;
                   }
                   .dropzone{
                       width: 86%;
                    height: 210px;
                    margin: 30px 7%;
                    background: #fff;
                    float: left;
                    border: 2px #ccc dashed;
                    border-radius: 10px;
                    font-size: 15px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .active{
                    color: #22a4de !important;
                }
                .file-upload{
                    margin: 7px;
                    color: #404040;
                    margin-left: 12px;
                    font-weight: 500;
                    font-size: 14px;
                
                }
                .folder{
                    font-size: 32px;
                    margin-top: 13px;
                    color: gray;
                }
              .btn-details[disabled]{
                  background: #ccc;
                  color: #fff;
              }
              .ngx-datepicker-container[_ngcontent-c2] .ngx-datepicker-calendar-container[_ngcontent-c2]{
                  z-index: 100;
              }
              .btn-pressure{
                /* background: linear-gradient(to bottom, #8be8f703 0%, #66ccff42 200%); */
                background: #f7f7f7;
                padding: 5px;
                width: 40%;
                box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
            
              }
              .pressure-date{

                margin-top: 13px;
                padding-bottom: 12px;
              }
              .input-pressure{
                margin-right: 7px;
              }
              .label-pressure{
                margin-right: 15px;
              }
              .input-container{
                display: flex;
                align-items: center;
                margin-right: 8px;
              }
              .go{
                width: 20%;
                height: 100%;
                border-radius: 5px;
                padding: 0px;
              }
              .pressure-top{
                display: flex;
                align-items: center;
                margin: 13px;
                margin-bottom: 0px;
              }
              .btn-pressure-container{
                text-align: center;
                margin-top: 14px;
              }
              .clicked{
                background: linear-gradient(to bottom, #8be8f703 0%, #66ccff42 200%);
                box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05) inset;

              }
              a.email input.link {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0 !important;
}
.dimmed{
        color: #ffffff !important;
    background-color: #ccc!important;
}