
<section class="card" >
    <header class="card-header">
  
      <h2 class="card-title">{{name}} Details</h2>
    </header>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <button (click)="openModal()" id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div id="datatable-editable_wrapper" *ngIf="myRecordsService.dataSet.length" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-lg-6"><div class="dataTables_length" id="datatable-editable_length"></div></div>
          <div class="col-lg-6">
            <div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search"  [(ngModel)]="filterChar" class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable"></label></div>
          </div></div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable" role="grid">
        <thead>
          <tr role="row"><th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 275px;">Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 141px;">Actions</th></tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of myRecordsService.dataSet|filter:filterChar" data-item-id="25" role="row" >
            <td style="padding: 5px 20px;" *ngIf="editItem.id!==data.id" class="">{{data.name}}</td>
            <td style="padding: 5px 20px;" *ngIf="editItem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editItem.name"   ></td>
            <td style="padding: 0px 20px;" class="actions">
              <a style="font-size: 23px;margin-right: 25px"  *ngIf="editItem.id===data.id" class=" on-editing save-row" (click)="submit()"><i class="fa fa-save"></i></a>
              <a style="font-size: 23px;margin-right: 25px" *ngIf="editItem.id===data.id" class=" on-editing cancel-row" (click)="cancel()"><i class="fa fa-times"></i></a>
              <a style="font-size: 23px;margin-right: 25px" *ngIf="editItem.id!==data.id" class="on-default edit-row" (click)="onClick(data)"><i class="fa fa-pencil"></i></a>
              <a style="font-size: 23px;margin-right: 25px"  *ngIf="editItem.id!==data.id" class="on-default remove-row" (click)="delete(data)"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="datatable-editable_wrapper" *ngIf="myRecordsService.contactSet.length" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
      <div class="row">
        <div class="col-lg-6"><div class="dataTables_length" id="datatable-editable_length"></div></div>
        <div class="col-lg-6"><div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search" [(ngModel)]="filterChar" class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable"></label></div></div></div><div class="table-responsive">
          <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable" role="grid">
      <thead>
          <tr role="row"> <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Full Name</th>
          <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Relation</th>
            <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">First Phone Number</th>
              <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">second Phone Number</th>
            <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Email</th>
          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 141px;">Actions</th></tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of myRecordsService.contactSet|filter:filterChar" data-item-id="25" role="row" >
          <td style="padding: 5px 20px;" *ngIf="editContact.id!==data.id" class="">{{data.fullName}}</td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editContact.fullName"   ></td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id!==data.id" class="">{{data.typeOfRelation}}</td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editContact.typeOfRelation"   ></td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id!==data.id" class="">{{data.phoneNumber01}}</td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editContact.phoneNumber01"   ></td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id!==data.id" class="">{{data.phoneNumber02}}</td>
          <td  style="padding: 5px 20px;" *ngIf="editContact.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editContact.phoneNumber02"   ></td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id!==data.id" class="">{{data.email}}</td>
          <td style="padding: 5px 20px;" *ngIf="editContact.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="editContact.email"   ></td>
          <td style="padding: 0px 20px;" class="actions">
            <a style="font-size: 23px;margin-right: 25px"  *ngIf="editContact.id===data.id" class=" on-editing save-row" (click)="submitContact()"><i class="fa fa-save"></i></a>
            <a style="font-size: 23px;margin-right: 25px" *ngIf="editContact.id===data.id" class=" on-editing cancel-row" (click)="cancel()"><i class="fa fa-times"></i></a>
            <a style="font-size: 23px;margin-right: 25px" *ngIf="editContact.id!==data.id" class="on-default edit-row" (click)="onClickContacts(data)"><i class="fa fa-pencil"></i></a>
            <a style="font-size: 23px;margin-right: 25px"  *ngIf="editContact.id!==data.id" class="on-default remove-row" (click)="delete(data)"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="datatable-editable_wrapper" *ngIf="myRecordsService.bodySet.length" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
    <div class="row">
      <div class="col-lg-6"><div class="dataTables_length" id="datatable-editable_length"></div></div>
      <div class="col-lg-6"><div id="datatable-editable_filter" class="dataTables_filter"><label>
        <input type="search" [(ngModel)]="searchDate" class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable">
      
      </label></div></div></div><div class="table-responsive">
        <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable" role="grid">
    <thead>
        <tr role="row"> <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">height</th>
          <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Weight</th>
          <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Date</th>
             
          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 141px;">Actions</th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of myRecordsService.bodySet|filter:searchDate" data-item-id="25" role="row" >
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id!==data.id" class="">{{data.height}}</td>
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="bodyItem.height"   ></td>
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id!==data.id" class="">{{data.weight}}</td>
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="bodyItem.weight"   ></td>
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id!==data.id" class="">{{data.date}}</td>
        <td style="padding: 5px 20px;" *ngIf="bodyItem.id===data.id" class="">
            <input class="form-control" type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"  [(ngModel)]="bodyItem.date" required />

        </td>
        
        <td style="padding: 0px 20px;" class="actions">
          <a style="font-size: 23px;margin-right: 25px"  *ngIf="bodyItem.id===data.id" class=" on-editing save-row" (click)="submit()"><i class="fa fa-save"></i></a>
          <a style="font-size: 23px;margin-right: 25px" *ngIf="bodyItem.id===data.id" class=" on-editing cancel-row" (click)="cancel()"><i class="fa fa-times"></i></a>
          <a style="font-size: 23px;margin-right: 25px" *ngIf="bodyItem.id!==data.id" class="on-default edit-row" (click)="onClick(data)"><i class="fa fa-pencil"></i></a>
          <a style="font-size: 23px;margin-right: 25px"  *ngIf="bodyItem.id!==data.id" class="on-default remove-row" (click)="delete(data)"><i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div id="datatable-editable_wrapper" *ngIf="myRecordsService.pressureSet.length" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
  <div class="row">
    <div class="col-lg-6"><div class="dataTables_length" id="datatable-editable_length"></div></div>
      <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable" role="grid">
  <thead>
      <tr role="row"> <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Systolic</th>
        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Diastolic</th>
        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Date</th>
           
        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 141px;">Actions</th></tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of myRecordsService.pressureSet" data-item-id="25" role="row" >
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id!==data.id" class="">{{data.systolic}}</td>
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="pressureItem.systolic"   ></td>
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id!==data.id" class="">{{data.diastolic}}</td>
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="pressureItem.diastolic"   ></td>
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id!==data.id" class="">{{data.date}}</td>
      <td style="padding: 5px 20px;" *ngIf="pressureItem.id===data.id" class=""><ng-datepicker  class="form-date" [(ngModel)]="pressureItem.date" ></ng-datepicker></td>
      
      <td style="padding: 0px 20px;" class="actions">
        <a style="font-size: 23px;margin-right: 25px"  *ngIf="pressureItem.id===data.id" class=" on-editing save-row" (click)="submitPressure()"><i class="fa fa-save"></i></a>
        <a style="font-size: 23px;margin-right: 25px" *ngIf="pressureItem.id===data.id" class=" on-editing cancel-row" (click)="cancel()"><i class="fa fa-times"></i></a>
        <a style="font-size: 23px;margin-right: 25px" *ngIf="pressureItem.id!==data.id" class="on-default edit-row" (click)="onClick(data)"><i class="fa fa-pencil"></i></a>
        <a style="font-size: 23px;margin-right: 25px"  *ngIf="pressureItem.id!==data.id" class="on-default remove-row" (click)="delete(data)"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div id="datatable-editable_wrapper" *ngIf="myRecordsService.immunizationtSet.length" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
  <div class="row">
    <div class="col-lg-6"><div class="dataTables_length" id="datatable-editable_length"></div></div>
    <div class="col-lg-6"><div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search" class="form-control pull-right" placeholder="Search..." aria-controls="datatable-editable"></label></div></div></div><div class="table-responsive">
      <table class="table table-bordered table-striped mb-0 dataTable no-footer" id="datatable-editable" role="grid">
  <thead>
      <tr role="row"> <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Administrated By</th>
        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 277px;">Vaccine</th>
           
        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 141px;">Actions</th></tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of myRecordsService.immunizationtSet" data-item-id="25" role="row" >
      <td style="padding: 5px 20px;" *ngIf="immunizationtem.id!==data.id" class="">{{data.administratedBy}}</td>
      <td style="padding: 5px 20px;" *ngIf="immunizationtem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="bodyItem.height"   ></td>
      <td style="padding: 5px 20px;" *ngIf="immunizationtem.id!==data.id" class="">{{data.vaccineName}}</td>
      <td style="padding: 5px 20px;" *ngIf="immunizationtem.id===data.id" class=""><input class="form-control" type="text" [(ngModel)]="bodyItem.weight"   ></td>
      
      <td style="padding: 0px 20px;" class="actions">
        <a style="font-size: 23px;margin-right: 25px"  *ngIf="immunizationtem.id===data.id" class=" on-editing save-row" (click)="submit()"><i class="fa fa-save"></i></a>
        <a style="font-size: 23px;margin-right: 25px" *ngIf="immunizationtem.id===data.id" class=" on-editing cancel-row" (click)="cancel()"><i class="fa fa-times"></i></a>
        <a style="font-size: 23px;margin-right: 25px" *ngIf="immunizationtem.id!==data.id" class="on-default edit-row" (click)="onClick(data)"><i class="fa fa-pencil"></i></a>
        <a style="font-size: 23px;margin-right: 25px"  *ngIf="immunizationtem.id!==data.id" class="on-default remove-row" (click)="delete(data)"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
    </div>
    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">ALLERGIES</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addAllergyForm" novalidate (ngSubmit)="submitAllergy()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input (keyup)="allergiesNameChange()" [ngClass]="{'error':showErrorMsg}" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                  
                </div>
            
                <button [disabled]="!addAllergyForm.valid" type="submit" class="btn btn-edit">Submit</button>
              </form>
        </div>
      </ng-template>
      <ng-template #condition>
        <div class="modal-header">
          <h4 class="modal-title pull-left">CONDITIONS</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addConditionForm" novalidate (ngSubmit)="submitCondition()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="conditionNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                </div>
            
                <button [disabled]="!addConditionForm.valid" type="submit" class="btn btn-edit">Submit</button>
              </form>
        </div>
      </ng-template>
      <ng-template #medication>
        <div class="modal-header">
          <h4 class="modal-title pull-left">MEDICATION</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addMedicationForm" novalidate (ngSubmit)="submitMedication()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                </div>
            
                <button [disabled]="!addMedicationForm.valid" type="submit" class="btn btn-edit">Submit</button>
              </form>
        </div>
      </ng-template>
      <ng-template #medicalDevice>
        <div class="modal-header">
          <h4 class="modal-title pull-left">MEDICAL DEVICES</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addMedicalDeviceForm" novalidate (ngSubmit)="submitMedicalDevice()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Name</label>
                  <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicalNameChange()" formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                </div>
            
                <button [disabled]="!addMedicalDeviceForm.valid" type="submit" class="btn btn-edit">Submit</button>
              </form>
        </div>
      </ng-template>
      <ng-template #contact>
          <div class="modal-header">
            <h4 class="modal-title pull-left">CONTACT INFO</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="contactForm" novalidate (ngSubmit)="editContacts()">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input [ngClass]="{'error':!name.valid&&contactError}" #name [(ngModel)]="editContact.fullName"  formControlName="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                      <label for="relation">Relation</label>
                      <input [ngClass]="{'error':!relation.valid&&contactError}" #relation [(ngModel)]="editContact.typeOfRelation" formControlName="relation" type="text" class="form-control" id="relation" placeholder="Enter Relation">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input [ngClass]="{'error':!phone.valid&&contactError}" #phone [(ngModel)]="editContact.phoneNumber01" formControlName="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
                      </div>
                      <div class="form-group">
                          <label for="phone2">Additional Phone Number</label>
                          <input #phone2   formControlName="phone2" type="text" class="form-control" [(ngModel)]="editContact.phoneNumber02" id="phone2" placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input [ngClass]="{'error':!email.valid&&contactError}" #email [(ngModel)]="editContact.email" formControlName="email" type="text" class="form-control" id="email" placeholder="Enter Email">
                          </div>
              
                  <button type="submit" [disabled]="!contactForm.valid"  class="btn btn-edit">Submit</button>
                </form>
          </div>
        </ng-template>
      <ng-template #body>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Weight & Height</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addBody" novalidate (ngSubmit)="submitBody()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Height</label>
                  <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="height" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Height">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Weight</label>
                    <input [ngClass]="{'error':showErrorMsgCondition}" (keyup)="medicationNameChange()" formControlName="weight" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Weight">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Date</label>
    <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="date" [(ngModel)]="date" required />

                  </div>
            
                <button [disabled]="!addBody.valid" type="submit" class="btn btn-edit">Submit</button>
              </form>
        </div>
      </ng-template>

  </section>
  