<div class="row">
  <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">

    <section class="card">
      <div class="card-body">
        <div class="thumb-info mb-3">
          <img style="min-height:255px" [src]="user.imageUrl" class="rounded img-fluid" alt="image">
        
        </div>

     

      </div>
    </section>




  </div>
  <div class="col-lg-8 col-xl-6">

    <div class="tabs">
      <ul class="nav nav-tabs tabs-primary">
       
        <li class="nav-item active">
          <a class="nav-link active" href="#edit" data-toggle="tab">Edit</a>
        </li>
      </ul>
      <div class="tab-content">
       
        <div id="edit" class="tab-pane active">

          <form [formGroup]="userForm" novalidate (ngSubmit)="submit()" class="p-3">
            <h4 class="mb-3">Personal Information</h4>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name"  [(ngModel)]="user.fullName" id="name" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="user.phoneNumber" id="phoneNumber" placeholder="Enter Your Phone Number">
            </div>
   
            <div class="form-group">
                <label for="area">Birth Date</label>
                <input type="text" placeholder="dd.mm.yyyy" class="form-control" bsDatepicker [outsideClick]="true" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }" formControlName="birthDate" [(ngModel)]="user.birthDate" required />

              </div>
              <div class="form-group">
                <label for="age">Address</label>
                <input type="text" class="form-control" formControlName="address" [(ngModel)]="user.address" id="age" placeholder="Enter Your Address">
              </div>
                
                <div class="form-group">
                  <label for="contry">City</label>
                  <select (change)="selectChangeHandler($event)" [(ngModel)]="user.cityId"  class="form-control" id="contry" formControlName="city">
                    <option *ngFor="let city of userService.cities"  [value]="city.cityId">{{city.nameEn}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contry">Area Name</label>
                  <select class="form-control" id="contry" [(ngModel)]="user.areaId"  [disabled]="!userService.area.length"  formControlName="area">
                    <option *ngFor="let area of userService.area" [value]="area.areaId">{{area.nameEn}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                          <input formControlName="gender" type="radio" id="optionsRadios1" [(ngModel)]="user.gender" value="Female" >
                          Female
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="radio">
                          <label>
                            <input [(ngModel)]="user.gender" formControlName="gender" type="radio"  id="optionsRadios2" value="Male" >
                           Male
                          </label>
                        </div>
                    </div>
            <hr class="dotted tall">



            <div class="form-row">
              <div class="col-md-12 text-right mt-3">
                <button class="btn btn-primary modal-confirm">Save</button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>


</div>